
 *{
   margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'rubik',sans-serif;
  transition: 0.2s;
  text-transform: capitalize;
  border-radius: .5rem;

  
}
:root{
  --green:#00e77e;
  --white: #fff;
--light-blue:#777FD6;
  --light-white:#aaa;
  --black:#3d3d3d;
  --light-bg:#494950;
}
section{
  background: transparent;
  color:var(--black);
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top:8rem;
}
::-webkit-scrollbar{
  height: 5rem;
  width: 1rem;
  
}
::-webkit-scrollbar-track{
  background:transparent;
}
::-webkit-slider-thumb{
  background: var(--green);
  border-radius: 5rem;
}

body{
  background: #fff;
  color :#000;
}
section{
  max-width:120rem;
  margin:0 auto;
  padding:2rem;
  padding-right: .9rem;
  
}
.header .flex{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header{
position: flex;
top:0;
left:0;
right: 0;
z-index: 1000;
position:fixed;

}

.header .flex .navbar{
    font-size: 2.5rem;
}
.header .flex .logo{
  width:15rem;
  font-style: 3.5rem;
}

.header .flex .navbar a{
  margin-left:2rem;
  color:var(--black);
  font-size: 1.3rem;
  transition: 0.5s color;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  
}
.header .flex .navbar .menu{
  display: none;}



.header .flex .navbar a:hover{
  color:var(--light-blue);
}


#menu-btu{
  display:none;
  cursor:pointer;
  font-size: 5rem;
  color:var(--white);
  padding-top: 8.5rem;

}


/*-----------the main page css -------*/
.main{
  margin-top: 7.5rem;
flex-wrap: wrap;
  height: fit-content;
  width:100%;

  display: flex;
  flex-direction: row;
  position:relative;
  background: #fff;
}

.main .page{
  display: flex;
  flex:1 1 40rem;
  width:100%;
}
.main .page>img{
  object-fit: cover;
  position: absolute;
  right:0;
  top:0;
}



.main .cantener{
  display: flex;
  flex:1 1 40rem;
  text-align: left;
  position: relative;
  left:6rem;
  top:12.5rem;
  /*height: 20vh;
  justify-content: center;
  align-items: center;*/
  flex-direction: column;
  font-size: 3rem;
  color:#555;

}

 .main .cantener h1{
color:#555;
font-size: 5rem;
}
 .main .cantener h1 span{
   color:#2936C2;
 }
 
 .main .cantener h4{
   font-weight: 300;
   font-size: 3.5rem;
 }


.about{
  padding-top:30rem;
  width:100%;
  height:fit-content;
}

.about .main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about .main .images,.about .main .cantener
{
  display: flex;
  width:100%;
  flex: 1 1 45rem;
}

.about .main .cantener {
  font-size: 3rem;
  height: 30rem;
  
  width: 100%;
}
.about .main .images{
  width: 100%;
    overflow: hidden;

}
.about .main .images img{
  width:100%;
  
}

.about .main .images img:hover{
  transform:scale(1.1) rotate(3deg);
}
